<suite name="Suite" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="extentReport.TestListener"></listener>
	</listeners>
	<test name="ChromeTest">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			
			<class name="testClasses.ProductListTestClass"/>
			<!-- <class name="testClasses.HomePageTestClass"/>
            <class name="testClasses.LoginPageTestClass"/>
            <class name="testClasses.ManageUserTestClass" />
             -->
		</classes>
	</test> <!--Test -->


	<test name="EdgeTest">
		<parameter name="browser" value="edge"></parameter>
		<classes>
			<class name="testClasses.ManageUserTestClass" />
			<!-- <class name="testClasses.HomePageTestClass"/>
            <class name="testClasses.LoginPageTestClass"/>
            <class name="testClasses.ProductListTestClass"/> -->
		</classes>
	</test>


</suite> 

